*{border-box: border}
.navbar,.footer{
     background-color: #fff8f5;
}

body {
margin-top: 10vh;
}

.pets {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
}