* {
    box-sizing: border-box;
    font-family: Prata;
}

/* Note for Ray: Navbar should be background: #FEDAA3 and links should be centered;  */
.navbar{
     background-color: #fff8f5;
}


.title:hover {
text-decoration-color: rgba(255, 255, 255, 0.9);    
text-decoration-style: wavy;
}

.title {
text-decoration: underline 0.15em rgba(0, 0, 0, 0);
transition: text-decoration-color 300ms;
font-size: 2em;
text-underline-offset: 0.4em;
text-decoration-style: wavy;
width: 100%;



color: white;
margin-top: 10vh;
font-family: Princess Sofia;
font-size: 3em;
display: flex;
flex-direction: row;
flex-wrap: wrap;
flex: 1 1 1;
align-items: flex-start;
justify-content: space-around;
}

body{
background: linear-gradient(#FA3838, #FEE1E0);
}

main {
height: 100%;
width: 100%;
margin-top: 10vh;
display: flex;
flex-direction: column;
flex-wrap: wrap;
flex: 1 1 1;
}

.shelter {
margin: 0 auto;
margin-bottom: 10vh;
margin-top: 5vh;
display: flex;
flex-direction: row;
flex-wrap: wrap;
flex: 1 1 1;
}

.child1:hover, .child2:hover, .child3:hover{
text-decoration-color: rgba(255,255,255, 0.9); 
text-underline-offset: 0.3em;
}


.child1, .child2, .child3{
text-decoration: underline 0.15em rgba(0, 0, 0, 0);
transition: text-decoration-color 300ms;
text-underline-offset: 0.3em;
text-decoration-style: wavy;
}

.description span {
text-decoration: underline 0.15em rgba(255, 255, 255, 0.9);
text-decoration-style: wavy;
    
}

.pets {
width: 100%;
text-align: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
flex: 1fr 1fr 1fr;
align-items: flex-start;
justify-content: space-evenly;
}

.child1 {
font-size: 1em;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.child2 {
font-size: 1em;
display: flex;
flex-direction: row;
flex-wrap: wrap;
flex: 1fr 1fr 1fr;
}

.child3 {
font-size: 1em;
display: flex;
flex-direction: row;
flex-wrap: wrap;
flex: 1fr 1fr 1fr;
}

.title2:hover {
text-decoration-color: rgba(255,255,255, 0.9); 
text-decoration-style: wavy;
}
.title2 {
color: #68154C;
text-align: center;
margin:0 auto;
text-decoration: underline 0.15em rgba(0, 0, 0, 0);
transition: text-decoration-color 300ms;
text-decoration-style: wavy;
font-size: 2em;
display: flex;
flex-direction: column;
flex-wrap: wrap;
flex: 1 1 1;
    
}

.title3:hover {
text-decoration-color: rgba(255,255,255, 0.9); 

}

.title3 {
text-align: center;
margin: 0 auto;
margin-top: 5vh;
margin-bottom: 10vh;
text-decoration: underline 0.15em rgba(0, 0, 0, 0);
text-underline-offset: 0.3em;
text-decoration-style: wavy;
transition: text-decoration-color 300ms;
font-size: 2em;
display: flex;
flex-direction: column;
flex-wrap: wrap;
flex: 1 1 1;
    
}


.description, .description2 {

margin: 10vh;
margin-top: 10vh;
font-size: 1em;
display: flex;
flex-direction: column;
flex-wrap: wrap;
flex: 1 1 1;

}




h1:hover {
text-decoration-color: rgba(255,255,255, 0.9); 
text-decoration-style: wavy;
}

h1 {
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    text-underline-offset: 0.3em;
    text-decoration-style: wavy;
    transition: text-decoration-color 300ms;
    font-size: 2em;
    font-family: Prata;
    text-align: center;
}

