* {
        font-family: Prata;
        font-size: 20px;
}
body{
    background: linear-gradient(#FA3838, #FEE1E0);
}
.navbar,.footer{
     background-color: #FEDAA3;
}
b:hover {
  background-color: yellow;
        
}

#cloud{ 
   width:450px;
   height:200px;
   background:#ECEFF1;
   box-shadow: 10px 10px rgba(0,0,0,0.2);
   border-radius:30px;
}

#cloud2{ 
   width:100%;
   height:320px;
   background:#ECEFF1;
   box-shadow: 10px 10px rgba(0,0,0,0.2);
   border-radius:30px;
}

#rcorners2 {
  border-radius: 25px;
 
  width: 250px;
  height: 250px;  
}

#rcorners3 {
  border-radius: 25px;
 
  width: 300px;
  height: 300px;  
}

header {
    position: sticky;
    min-height: 60px;

    background-color: #eee;
}

.motto {
  margin-bottom: 100px;
    text-align: center;
    
}

body {
    background: linear-gradient(#FA3838, #FEE1E0);
}


.bigbox{
    margin-top: 50px;
    display:flex;
    justify-content: space-evenly;
      margin-bottom: 100px;
   
}


.img-box{
    width:300px;
    height:100%;
}

.img-box img{
    width:100%;
    height:100%;
}

.bigbox2 {
    width: 100%;
    height: 300px;
    margin: auto;
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.img-box2 img{
    width:300px;
    height:100%;
}

.img-box2{
    width:300px;
    height:100%;
}

.lil-box {
    border:2px solid blue;
    padding: 10px;
    width:300px;
    height:100%;
}

.text{
        padding: 10px;
        border:2px red solid;
        text-align: center;
        justify-content:center;
}
.lilbox2 {
width: 800px;
height:100%;
}

.lilbox2 h3{
    text-align: center;
}

.vid {
    width: 500px;
    margin:auto;
    height: 300px;
    margin-bottom: 100px;
}

iframe {
    width: 100%;
    height: 100%;
}
.bigbox3 {
    display: block;
    width: 70%;
    margin: auto;
    height: 500px;
}







@media all and (max-width: 1200px){
    .img {
        display:none;
    }
}

@media all and (max-width: 600px){
    #cloud {
        height: 300px;
    }
}



@media all and (max-width: 1500px){
    #cloud2 {
        height: 400px;
    }
}


@media all and (max-width: 1300px){
    #cloud2 {
        height: 500px;
    }
}

@media all and (max-width: 1200px){
    #cloud2 {
        height: 400px;
    }
}

@media all and (max-width: 700px){
    #cloud2 {
        height: 550px;
    }
}



@media all and (max-width: 1200px){
    .logo1{
      display: none;
    }
}

@media all and (max-width: 1350px){
    .bigbox2{
    height: 450px;
    width: 100%;
    }}

@media all and (max-width: 1000px){
    .bigbox2{
    height: 550px;
    width: 100%;
    }
}

@media all and (max-width: 700px){
    .bigbox2{
    height: 550px;
    width: 100%;
    }
}

@media all and (max-width: 1000px){
    .vid{
 
    height: 300px;
    width: 100%;
    }
}


@media all and (max-width: 1300px){
    .lilbox2{
      width: 100%;
      height: 700px;
    }
}

@media all and (max-width: 1000px){
    .img-box2{
      width: 0%;
    }
}





@media all and (max-width: 1000px){
    .bigbox3{
      width: 100%;
      height: 800px;
    }
}