* {
        font-size: 20px;
        
}

main{
    background-color: #FFF8F5;
}
.navbar{
     background-color: #fff8f5;
}
footer{
    background-color:black;
}
footer *{
    color:white;
}
b:hover {
  background-color: yellow;
        
}
#heading {
    z-index: 10000!important;
}

#carouselExampleControls{
    z-index: 0!important;
}

.slides{
    height: 334px;
    width: 500px;
justify-content: center;
margin: auto;
position: stat;
border:1px solid black;
}

#cloud{ 
   width:450px;
   height:200px;
   background:#8DB38B;
   box-shadow: 10px 10px rgba(0,0,0,0.2);
   border-radius:30px;
}

#cloud2{ 
   width:100%;
   height:380px;
   background:#D2AB99;
   box-shadow: 10px 10px rgba(0,0,0,0.2);
   border-radius:30px;
}

#cloud3{ 
   padding: 10px;
   width:80%;
   height:380px;
   background:#BDBEA9;
   box-shadow: 10px 10px rgba(0,0,0,0.2);
   border-radius:30px;
}


#rcorners2 {
  border:1px solid black;
  border-radius: 25px;
  width: 100%;
  height: 250px;  
}

#rcorners3 {
    border-radius: 25px;
    border:2px solid black;
    width: 300px;
    height: 300px;  
}

header {
    position: sticky;
    min-height: 60px;

    background-color: #eee;
}

.motto {
  margin-bottom: 100px;
    text-align: center;
}

body {
    background: linear-gradient(#FA3838, #FEE1E0);
}


.bigbox{
    margin-top: 50px;
    display:flex;
    justify-content: space-evenly;
      margin-bottom: 100px;
   
}


.img-box{
    width:300px;
    height:100%;
}

.img-box img{
    width:100%;
    height:100%;
}

.bigbox2 {
    width: 100%;
    height: 500px;
    margin: auto;
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.img-box2 img{
    width:300px;
    height:100%;
}

.img-box2{
    width:300px;
    height:100%;
}

.lil-box {
    padding: 10px;
    width:300px;
    height:100%;
}

.text{
        padding: 10px;
        text-align: center;
        justify-content:center;
}
.lilbox2 {
width: 800px;
height:100%;
}

.lilbox2 h3{
    text-align: center;
}

.vid {
    width: 500px;
    margin:auto;
    height: 300px;
    margin-bottom: 100px;
}

iframe {
    width: 100%;
    height: 100%;
}
.bigbox3 {
    display: block;
    width: 70%;
    margin: auto;
    height: 500px;
}

.middle {
    margin:auto;
    width: 300px;
    height: 50px;
    text-align: center;
}








@media all and (max-width: 1500px){
    #cloud2 {
    height: 400px;
    }
}

@media all and (max-width: 1350px){
    .bigbox2{
    height: 450px;
    width: 100%;
    }
}

@media all and (max-width: 1300px){
    #cloud2 {
    height: 500px;
    }

    .img {
    display:none;
    }
    .lilbox2{
    width: 100%;
    height: 700px;
    }
}

@media all and (max-width: 1200px){
    #cloud2 {
    height: 430px;
    }
    .logo1{
    display: none;
    }
        #cloud3{
    height:730px;
        
    }
}



@media all and (max-width: 1000px){
    .bigbox2{
    height: 550px;
    width: 100%;
    }
    .vid{
    
    height: 300px;
    width: 100%;
    }
    .img-box2{
    width: 0%;
    }
    .bigbox3{
    width: 100%;
    height: 800px;
    }
    #cloud3{
    height:730px;
        
    }
}

@media all and (max-width: 700px){
    .bigbox2{
    height: 400px;
    width: 100%;
    }
    #cloud2 {
    height: 550px;
    }
}






@media all and (max-width: 700px){
    #rcorners2{
        width:80%;
        height:30%;
    }
    #cloud {
 width: 50%;
 height: 20%;
    }
    .lil-box{
       font-size: 12px;
    }
    #cloud2 {
 width: 100%;
 height: 50%;
font-size: 12px;
    }
    .bigbox3{
        padding:20px;
    }
    ul, li, strong {
        font-size: 12px;
    }
    .slides {
    height: 200px;
    width: 300px;
    }
    #cloud3 {
    height:510px;
    }
    .img-box{
        width: 200px;
    }
}

