header{
   background-color:#fff8f5;
}

.orange{
    color:orange;
    font-weight:700;
}
.blue{
    color:midnightblue;
    font-weight:800;
}
#map{
   width:100%;
   height:250px;
}

main{
    padding-top:20%;
    padding-bottom:10%;
    background-color:#fff8f5;
}
.bg-orange{
    background-color:orange;
}
.sites{
    margin-top:15%;
}
.sites .img-box{
    height:120px;
}
.img-box img{
    height:100%;
}
.donate .img-box{
    height:100px;
}
.footer .col-12 {
        display:flex;
        justify-content:center;
    }
footer a{
    text-decoration: none;
}
@media only screen and (min-width:576px){
    .sites{
        padding-bottom: 10%;
    }
    #form{
        padding-bottom:10%;
    }
}

@media only screen and (min-width:768px){
    main{
        padding-top:18%;
        padding-bottom:8%;
    }
    .adoption-list{
        display: block
    }
    #cards{
        justify-content:space-between !important;
    }
    .footer .col-12 {
        justify-content:end;
    }
}
@media only screen and (min-width:992px){
    main{
        padding-top:12%;
        padding-bottom:5%;
    }
    #map{
       width:70%;
       height:290px;
    }
    #form{
        width:60%;
        max-width:705px;
    }
    .img-box{
    height:110px;
    }
    .card-body *{
        line-height: 2;
    }
    #cards{
        margin-top:3%;
        margin-bottom:11%;
    }
}
@media only screen and (min-width:1200px){
    main{
        padding-top:8%;
        padding-bottom:0%;
    }
    #cards{
        margin-top:0%;
        margin-bottom:11%;
    }
    #map{
       width:60%;
       height:350px;
    }
    .sites{
         padding-bottom: 0%;
    }
}

  .btn-circle.btn-sm {
            width: 75px;
            height: 75px;
            border-radius: 15px;
            font-size: 8px;
            text-align: center;
        }