*{border-box: border;
    font-family: "DM Sans", sans-serif;
}


.sean {
    padding-top: 5%;
}

  
.navbar, .footer {
    width: 100%;
     background-color: #fff8f5;
}
.missioncarousel{
    
    background-color: white;
}
.missiontitle {
    
    background-color: #fff8f5;
}

.mission {background-color: #fff8f5;}


button .comment { display: none;}
button:hover .name { display: none;}
button:hover .comment { display: inline;}



.btn {
    background-color: #f65f11;
}

a:hover, a:visited, a:link, a:active
{   color: white;
font-style: normal;
    text-decoration: none;
}


.blue{
    color:#072366;
}

.white{
    color:white;
    font-weight:500;
}

.orange{
    color:orange;
    font-weight:500;
}



.cloudcap{ 
  
 
   background:#8DB38B;
   box-shadow: 10px 10px rgba(0,0,0,0.2);
   border-radius:30px;
}
.cloudtitle{ 
   
   margin: 0 auto;
   background:#8DB38B;
   box-shadow: 10px 10px rgba(0,0,0,0.2);
   border-radius:30px;
}

.cloudcatsphoto{
 
 
   background:#d2ab99;
   border-radius:30px;
    
}

.cloudcats{
  
   
   background:#d2ab99;
   box-shadow: 10px 10px rgba(0,0,0,0.2);
   border-radius:25px;
    
}


.bold{
 font-weight:700;   
}

.cloud{ 
font-size: 1.2rem;

   background:#8DB38B;
   box-shadow: 10px 10px rgba(0,0,0,0.2);
   border-radius:30px;
}

.clouddesc{ 
    
    margin: 0 auto;
    font-size: 1.4rem;
  opacity: 0.9;
   background:#8DB38B;
   box-shadow: 10px 10px rgba(0,0,0,0.2);
   border-radius:30px;
}

/*Media Queries*/
@media only screen and (min-width:238px){
    
    .mission p, .mission h1{
    font-size:1.4rem;
    }
    
    .missiontitle{
    padding-top:20%;
    }
}
@media only screen and (min-width:576px){
    
    .mission p, .mission h1{
    font-size:1.4rem;
    }
    
    .missiontitle{
    padding-top:20%;
    }
    
    
}



@media only screen and (min-width:768px){
    .missiontitle .slide_show{
    display:block;
    }
    
    
    .missiontitle .img-box{
        height:400px;
    }
    .missiontitle {
    padding-top:18%;
    }
    .footer .col-12 {
        justify-content:end;
    }
}


@media only screen and (min-width:992px){
    .missiontitle{
        padding-top:15%;
    }
    .sites .card-body *{
        line-height: 2;
    }
}

@media only screen and (min-width:1400px){
    .missiontitle{
        padding-top:10%;
    }
    .site{
    padding-top:8%;
    padding-bottom:8%;
    }
}



